
/*This is the Style*/
#angus {
	height: 50px;
position: center;

}
#times {
	display:center;
	
	}
#cowvid {
margin:auto;
width:900px;
height:700px;
}

#cafeimg {
float: left;
width:200px;
height:200px;
}
#foods {

float: right;
width:200px ;
height: 200px;
  	
}
#dcow {
	position:left-side;
	width:280px; 
	height: 280px; 
}
#fun2 {
	float: left;
	width:250px;
	height: 250px; 
}
#fzoo{
	float: right;
	width: 250px ; 
	height: 250px;
	
}
#map
{
	width:200px;
	height:200px;
	float: right ; 
}
#fun {
position: center;
height:250px; 
width:250px;
}	
#produce {
position: right-side ;
height:250px; 
width:250px;
}	
#cafe {
position: left;
height:250px; 
width:250px;
}	

#imagebanner {
float: left; 	
width: 100%;
height: 70%;
position: behind;
display:center;

}
header { 
height: 350px;

}
#mytext {
	
}
body{
	background-color:lightblue;
	width:900px;
	margin:auto;
	}
 #footcss {
	 background-color:lightgreen;
	 height:300px }
 #mainbdy {background-color:orange}
 
section {background-color:pink}
#logotext {
	position:absolute;
	 
	top:2%;
	left:30%; 
	color:orange;
}
#mainMenu {
	margin:25px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}

#navbar {
padding: 5px ; 
display: inline; 
width: 15px; 
}	
#findustext {

display:left-side;


}